# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Image files
output/SST/Winter/*.png
output/SST/Spring/*.png
output/SST/Fall/*.png
output/SST/Summer/*.png
output/SSS/Winter/*.png
output/SSS/Spring/*.png
output/SSS/Fall/*.png
output/SSS/Summer/*.png
output/BT/Winter/*.png
output/BT/Spring/*.png
output/BT/Fall/*.png
output/BT/Summer/*.png

# Matlab files
data/MatlabData/2008/*.mat
data/MatlabData/2009/*.mat
data/MatlabData/2010/*.mat
data/MatlabData/2011/*.mat
data/MatlabData/2012/*.mat
data/MatlabData/2013/*.mat
data/MatlabData/2014/*.mat
data/MatlabData/2015/*.mat
data/MatlabData/2016/*.mat
data/MatlabData/2017/*.mat
data/MatlabData/*.mat

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user
